autochomsky>=1.0.0
beautifulsoup4>=4.5.0
defusedxml>=0.4.1
openpyxl>=2.3.5
pastasauce>=0.1.12
pytest>=2.9.2
pytest-env>=0.6.0
pytest-xdist>=1.14
python-jenkins>=0.4.12
regex>=2016.7.14
requests>=2.10.0
selenium>=2.53.6
Staxing>=0.0.25
